@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: rgba(27, 38, 59);
    --secondary-color: rgba(65, 90, 119);
    --light-blue-color: rgba(119, 141, 169);
    --light-color: rgba(224, 225, 221);
    --dark-color: rgba(13, 27, 42);
}


header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 2% 17%;
    background-color: var(--dark-color);
    color: var(--light-color);
}

body {
    background: url(images/background-image.jpg) center;
    background-color: dimgray;
    background-blend-mode: multiply;
    background-size: cover;
    height: 100vh;
}

.right-side-head .search-bar {
    width: 300px;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--light-color);
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
}
.right-side-head .search-bar i {
    border-radius: 0 5px 5px 0;
    font-size: 25px;
    padding: 5px 8px;
    background-color: var(--secondary-color);
}
.right-side-head .search-bar input {
    border-width: 0;
    border-radius: 5px;
    outline-width: 0;
    background-color: var(--light-color);
    color: var(--dark-color);
    font-size: 17px;
    font-weight: 500;
    padding: 0px 10px;
    width: 100%;
}

.left-side-head, .right-side-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.right-side-head {
    font-size: 40px;
    cursor: pointer;
}