{% extends '../base.html' %}

{% block title %}
Weather
{% endblock %}

{% block content %}

<div class="content">
    <div class="main">
        <h1>Country Weather</h1>
        <div class="city-info">
            <div class="currency">
                <a href="#">Kazakhstan</a>
                <span>(Tenge | ₸)</span>
            </div>
            <h2>Week weather forecast</h2>
            <div class="weather">
                <div class="day">
                    <h3>Monday</h3>
                    <i class='bx bx-cloud-snow'></i>
                    <span>-3℃</span>
                </div>
                <div class="day">
                    <h3>Tuesday</h3>
                    <i class='bx bx-cloud-snow'></i>
                    <span>-1℃</span>
                </div>
                <div class="day">
                    <h3>Wednesday</h3>
                    <i class='bx bx-cloud'></i>
                    <span>0℃</span>
                </div>
                <div class="day">
                    <h3>Thursday</h3>
                    <i class='bx bx-cloud'></i>
                    <span>1℃</span>
                </div>
                <div class="day">
                    <h3>Friday</h3>
                    <i class='bx bx-cloud-snow'></i>
                    <span>-5℃</span>
                </div>
                <div class="day">
                    <h3>Saturday</h3>
                    <i class='bx bx-cloud'></i>
                    <span>0℃</span>
                </div>
                <div class="day">
                    <h3>Sunday</h3>
                    <i class='bx bx-cloud'></i>
                    <span>2℃</span>
                </div>
            </div>
        </div>
        <div class="city-info">
            <div class="currency">
                <a href="#">Russia</a>
                <span>(Ruble | ₽)</span>
            </div>
            <h2>Week weather forecast</h2>
            <div class="weather">
                <div class="day">
                    <h3>Monday</h3>
                    <i class='bx bx-cloud-snow'></i>
                    <span>0℃</span>
                </div>
                <div class="day">
                    <h3>Tuesday</h3>
                    <i class='bx bx-cloud-snow'></i>
                    <span>-1℃</span>
                </div>
                <div class="day">
                    <h3>Wednesday</h3>
                    <i class='bx bx-cloud-snow'></i>
                    <span>-3℃</span>
                </div>
                <div class="day">
                    <h3>Thursday</h3>
                    <i class='bx bx-cloud-snow'></i>
                    <span>-5℃</span>
                </div>
                <div class="day">
                    <h3>Friday</h3>
                    <i class='bx bx-cloud-snow'></i>
                    <span>-4℃</span>
                </div>
                <div class="day">
                    <h3>Saturday</h3>
                    <i class='bx bx-cloud'></i>
                    <span>1℃</span>
                </div>
                <div class="day">
                    <h3>Sunday</h3>
                    <i class='bx bx-cloud'></i>
                    <span>2℃</span>
                </div>
            </div>
        </div>
    </div>
    <div class="history">
        <h2>History</h2>
        <div class="h-city">
            <div class="top">
                <a href="#">Kazakhstan</a>
                <i class='bx bxs-business'></i>
            </div>
            <div class="info">
                <p>
                    12.0℃
                </p>
                <i class='bx bxs-cloud'></i>
            </div>
        </div>
    </div>
</div>

{% endblock %}