{% extends '../base.html' %}
{% load static %}
{% block title %}
{{ c_name }}
{% endblock %}

{% block content %}
<div class="content">
    <div class="main">
        <h1>{{c_name}}</h1>
        <div class="top">
            <div class="left-side-main">
                <p>{{description}}</p>
            </div>
            <div class="right-side-main">
                {% if flag %}
                    <img src="{{flag}}" alt="Flag of {{flag}}" style="width: 300px; margin-bottom: 5px;">
                {% else %}
                    <img src="{% static 'img/bad.jpg' %}" alt="" style="width: 300px; margin-bottom: 5px;">
                {% endif %}
                <div class="capital">
                    <h3>Capital:</h3>
                    <p>{{c_capital}}</p>
                </div>
                <div class="region">
                    <h3>Region:</h3>
                    <p>{{c_region}}</p>
                </div>
                <div class="population">
                    <h3>Population:</h3>
                    <p>{{c_population}}</p>
                </div>
                <div class="language">
                    <h3>Language:</h3>
                    <p>{% for language in c_languages %}
                        {{ language }}
                        {% if not forloop.last %},{% endif %}{% endfor %}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="side-info">
        <div class="currency">
            <h2>Currency</h2>
            <div class="block-info">
                {% for currency_key in c_currency_key %}
                <h4>1{{c_currency_symbol}} {{currency_key}}({{c_currency_name}})</h4>
                <h4>1{{c_currency_symbol}}|1USD:{{ comparesment }}|1</h4>
                {% endfor %}
            </div>
        </div>
        <div class="weather">
            <h2>Weather</h2>
            <div class="block-info">
                <h2>{{c_capital}}</h2>
                <div class="info">
                    <div class="icon">
                        {% if weather_short == 'Clouds' %}
                        <i class='bx bx-cloud'></i>
                        {% elif weather_short == 'Sun' %}
                        <i class='bx bx-sun'></i>
                        {% else %}
                        <i class='bx bx-cloud-snow'></i>
                        {% endif %}
                        <h4>{{weather_short}}</h4>
                    </div>
                    <h4>{{weather_temp}}</h4>
                </div>
            </div>
        </div>
        <div class="map">
            <h2>Map</h2>
            <div class="block-info">
                <img src="{{ map }}" alt="Map Image" style="width: 150px; margin-bottom: 5px;">
            </div>
        </div>
    </div>
</div>
{% endblock %}