{% extends '../base.html' %}

{% block title %}
{{ c_name }} <!-- country name as page title -->
{% endblock %}

{% block content %}
<div class="content">
    <div class="main">
        <h1>{{c_name}}</h1><img src="{{flag}}">
        <div class="city-info">
            <div class="capital">
                <h3>Capital:</h3>
                <span>{{c_capital}}</span>
            </div>
            <div class="currency">
                <h3>Currency:</h3>
                <span>{{c_currency_name}}|{{c_currency_symbol}}</span>
            </div>
            <div class="region">
                <h3>Region:</h3>
                <span>{{c_region}}</span>
            </div>
            <div class="region">
                <h3>Population:</h3>
                <span>{{c_population}}</span>
            </div>
            <div class="language">
                <h3>Language:</h3>
                <span>{% for language in c_languages %}
                        {{ language }}
                        {% if not forloop.last %},{% endif %}{% endfor %}</span>
            </div>
            <h2>How is the weather up there?</h2>
            <div class="weather">
                <div class="day">
                    <h3>The weather in the capital:{{c_capital}} is</h3>
                    <h1>{{weather_temp}},{{weather_short}}</h1>
                    <p>{{weather_desc}}</p>
                    <h3>The temperature is {{weather_temp}} degrees celsius but if feels like {{weather_feel}}</h3>
                    <h3>The least the weather is going to be is {{weather_min}} and the max is {{weather_max}}</h3>
                    <i class='bx bx-cloud-snow'></i>
                    <span></span>
                </div>

            </div>
        </div>
    </div>
    <div class="history">
        <h2>History</h2>
        <div class="h-city">
            <div class="top">
                <a href="#">Kazakhstan</a>
                <i class='bx bxs-business'></i>
            </div>
            <div class="info">
                <p>
                    12.0℃
                </p>
                <i class='bx bxs-cloud'></i>
            </div>
        </div>
    </div>
</div>
{% endblock %}